*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.main-info {
  font-size: 1.1rem;
  color: hsl(229, 23%, 23%);
  font-weight: 700;
}

.secondary-info {
  font-family: 0.5rem;
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: hsl(185, 75%, 39%);
  background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

.card {
  background-color: hsl(0, 100%, 100%);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.card .bottom-card {
  text-align: center;
  position: relative;
}
.card .bottom-card .profile-img {
  margin-top: -55px;
}
.card .bottom-card .profile-img img {
  border-radius: 100vw;
  border: 5px solid hsl(0, 100%, 100%);
  width: 110px;
  height: 110px;
}
.card .bottom-card .profile-information {
  padding: 1.3rem 0;
  display: grid;
  gap: 0.3rem;
}
.card .bottom-card .profile-information h2 span {
  margin-left: 0.5rem;
}
.card .bottom-card .data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.2rem;
  padding: 1.5rem 0;
  border-top: 1px solid rgba(150, 150, 150, 0.2);
}
.card .bottom-card .data-container .data-box h2 {
  line-height: 1;
  margin-bottom: 0.4rem;
}
.card .bottom-card .data-container .data-box p {
  font-size: 0.7rem;
  letter-spacing: 1.5px;
}