body {
    min-height: 100vh;

    display: grid;
    place-content: center;

    background-color: $dark_cyan;

    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;

    font-family: $ff-primary, sans-serif;
    font-weight: 400;
}